{% extends 'skipass/base.html' %}
{% load static %}

{% block title %} skipass {% endblock %}

{% block body_block %}
<div class="hero-unit">
      <img src="{% static 'logo.jpg' %}"/>
      <p><strong>თქვენი ბარათის ნომერი: <span style="color:mediumvioletred"color> {{ profile.card_number }} </span></strong></p>
      <p> თქვენ ბალანსზე არის <strong><span style="color:mediumvioletred"color> {{ profile.balance }} </span> </strong>
          ლარი რაც საშუალებას მოგცემთ </br>
          ისრიალოთ <strong><span style="color:mediumvioletred"color> {{ profile.days_left }} </span> </strong>
          დღე </p>
    <hr/>
    <p> თქვენ ანგარიშზე ტვირთავთ <strong><span style="color:mediumvioletred"color> {{ amount }} </span> </strong> ლარს</p>
    <p> გადახდის შემდეგ თქვენს ბალანსზე იქნება <strong><span style="color:mediumvioletred"color> {{ balance_after }} </span> </strong> ლარი</p>
    <hr/>

    <form action="/skipass/balance/payment/charge_card/" method="POST">
      {% csrf_token %}
      <input type="hidden" name="days" value="{{ days }}"/>
      <input type="hidden" name="amount" value="{{ amount }}"/>
      <script
        src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="pk_test_J4tAwVZGLarBYOGBo5bVKV3b"
        data-amount= "{{ amount }}00"
        data-name="შეძენა"
        data-description="{{ days }} დღე ({{ amount }} ლარი)"
        data-image="{% static 'logo_128.jpg' %}">
      </script>
    </form>

</div>
{% endblock %}
